- hosts: localhost
  gather_facts: false
  vars_files:
    - ../vars/demo.yaml
  
  roles:
    - role: gitops-config
    - role: service-mesh
    - role: gitops-deploy-odf
    - role: gitops-observability
