apiVersion: v1
kind: Secret
metadata:
  name: kiali-multi-cluster-secret
  namespace: {{ istio_ns }}
  labels:
    kiali.io/multiCluster: "true"
    kiali.io/kiali-multi-cluster-secret: "true"
stringData:
{% for c in kiali_mc_clusters %}
  {{ c }}: |
    apiVersion: v1
    kind: Config
    preferences: {}
    current-context: {{ c }}
    clusters:
    - name: {{ c }}
      cluster:
        server: {{ hostvars[c].remote_api_server }}
        certificate-authority-data: {{ hostvars[c].remote_ca_data }}
    contexts:
    - name: {{ c }}
      context:
        cluster: {{ c }}
        user: {{ c }}
    users:
    - name: {{ c }}
      user:
        token: {{ hostvars[c].kiali_remote_token_value }}
{% endfor %}

