---
- name: Create 'bookinfo' Namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "bookinfo"
        labels:
          openshift.io/cluster-monitoring: "true"
          istio.io/dataplane-mode: ambient 

- name: Create ArgoCD Application for Bookinfo
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: argoproj.io/v1alpha1
      kind: Application
      metadata:
        name: "bookinfo-app"
        namespace: "{{ argocd_namespace }}"
      spec:
        project: "default"
        destination:
          namespace: "bookinfo"
          server: "https://kubernetes.default.svc"
        source:
          repoURL: "{{ gitops_repo }}"
          path: "apps/bookinfo/base"
          targetRevision: "main"
          kustomize: {}
        syncPolicy:
          automated:
            prune: true
            selfHeal: true
          syncOptions:
            - CreateNamespace=false

- name: Wait for ProductPage Pod to be Ready
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "bookinfo"
    label_selectors:
      - app=productpage
  register: pod_status
  until: "pod_status.resources | length > 0 and pod_status.resources[0].status.phase == 'Running'"
  retries: 60
  delay: 5

- name: Get Gateway Service Name
  kubernetes.core.k8s_info:
    kind: Service
    namespace: "bookinfo"
    label_selectors:
      - istio.io/gateway-name=bookinfo-gateway
  register: gateway_svc
  retries: 20
  delay: 5
  until: "gateway_svc.resources | length > 0"

- name: Create OpenShift Route for Gateway
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: route.openshift.io/v1
      kind: Route
      metadata:
        name: bookinfo-gateway
        namespace: "bookinfo"
      spec:
        to:
          kind: Service
          name: "{{ gateway_svc.resources[0].metadata.name }}"
          weight: 100
        port:
          targetPort: http
        wildcardPolicy: None
  when: gateway_svc.resources | length > 0

- name: Get Route Host
  kubernetes.core.k8s_info:
    kind: Route
    name: bookinfo-gateway
    namespace: "bookinfo"
  register: new_route

- name: Display Access URL
  debug:
    msg: 
      - "Bookinfo Deployed with K8s Gateway API!"
      - "Access the application here:"
      - "http://{{ new_route.resources[0].spec.host }}/productpage"
  when: new_route.resources | length > 0